$icomoon-font-path: "../src/assets/fonts/icons" !default;

$app-icon-question-circle2: "\e937";
$app-icon-info-circle: "\e936";
$app-icon-feedback: "\e934";
$app-icon-id-card: "\e935";
$app-icon-times: "\e933";
$app-icon-feed: "\e932";
$app-icon-goals: "\e931";
$app-icon-performance: "\e930";
$app-icon-chevron-down: "\e90a";
$app-icon-chevron-left: "\e90b";
$app-icon-chevron-right: "\e90c";
$app-icon-chevron-up: "\e90d";
$app-icon-arrow-left: "\e92e";
$app-icon-gear: "\e92f";
$app-icon-check: "\e909";
$app-icon-comment: "\e92d";
$app-icon-heartbeat: "\e91d";
$app-icon-medal: "\e92c";
$app-icon-hw-brand-logo: "\e92b";
$app-icon-key: "\e927";
$app-icon-power-off: "\e929";
$app-icon-phone: "\e928";
$app-icon-user-rect: "\e92a";
$app-icon-question: "\e924";
$app-icon-question-circle: "\e925";
$app-icon-upload: "\e926";
$app-icon-check-circle: "\e91f";
$app-icon-exclamation-circle: "\e920";
$app-icon-play: "\e921";
$app-icon-plus: "\e922";
$app-icon-times-circle: "\e923";
$app-icon-feed2: "\e91c";
$app-icon-journeys: "\e91e";
$app-icon-exclamation: "\e919";
$app-icon-heart: "\e91a";
$app-icon-usd: "\e91b";
$app-icon-ambulance: "\e900";
$app-icon-arrow-increase: "\e901";
$app-icon-balance-scale: "\e902";
$app-icon-bullhorn: "\e903";
$app-icon-car-crash: "\e904";
$app-icon-caret-down: "\e905";
$app-icon-caret-left: "\e906";
$app-icon-caret-right: "\e907";
$app-icon-caret-up: "\e908";
$app-icon-clock: "\e90e";
$app-icon-delete: "\e90f";
$app-icon-dismiss: "\e910";
$app-icon-home: "\e911";
$app-icon-house-roof: "\e912";
$app-icon-life-ring: "\e913";
$app-icon-lock: "\e914";
$app-icon-piggy-bank: "\e915";
$app-icon-umbrella: "\e917";
$app-icon-user: "\e918";
$app-icon-warning-sign: "\e938";

