:root {
  --headerIconWidth: 40px;
}

ion-title.title.title-md { // mode="ios" does not yet work for <ion-title> so this centers the title
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  padding-right: var(--headerIconWidth);
  padding-left: var(--headerIconWidth);
}

%page-header__base {
  .toolbar-title {
    @extend %default-text-color;
    font-size: var(--font-size__header-title);
    font-weight: var(--font-weight__bold);
    white-space: normal;
  }

  @include android {
    .toolbar-content.toolbar-content-md {
      text-align: center;
    }
  }

  @include ios {
    ion-title {
      padding-right: var(--headerIconWidth);
      padding-left: var(--headerIconWidth);
    }
  }
}

@mixin headerBackground ($color, $borderColor) {
  .toolbar-background {
    background-color: $color;
  }

  @if $borderColor != null {
    .toolbar-background {
      border-color: $borderColor;
      border-width: 0 0 0.55px;
      border-style: solid;
    }
  }
}

@mixin coloredHeader ($backgroundColor, $textColor: null, $borderColor: null) {
  @extend %page-header__base;
  @include headerBackground($backgroundColor, $borderColor);

  .toolbar-title {
    color: var(--ion-color-light);
    text-transform: uppercase;
  }

  @if ($textColor) {
    .toolbar-title,
    button {
      color: $textColor;
    }
  }
}

%page-header__transparent {
  @extend %page-header__base;

  .toolbar-background,
  .toolbar-ios:last-child .toolbar-background-ios,
  .toolbar-md:last-child .toolbar-background-md {
    background-color: transparent;
    border-width: 0;
  }
}

%page-header__white {
  @include coloredHeader(var(--ion-color-light));
  text-transform: uppercase;

  .toolbar-title {
    color: var(--ion-color-dark);
  }
}

%header-button {
  @extend .btn__link;
  font-weight: var(--font-weight__bold);
  font-size: var(--font-size__header-nav-btn);
  padding: 12px;
  text-transform: uppercase;
}

%header-button__multi-nav {
  @extend %header-button;
  font-weight: var(--font-weight__bold);
}

%header-button__multi-nav-link {
  @extend %header-button__multi-nav;
  color: var(--link-color) !important; // override default button color in the button-base mixin via the header-button
}

%header-icon-button {
  @extend %default-text-color;
  background-color: transparent;
  height: 100%;
  margin: 0;
  padding: 15.5px;
}

%header-close-button {
  @extend %header-button;

  @include ios {
    margin-top: -2px;
  }
}
