cmp-status-bar {
  @include ios {
    background-color: var(--ion-color-dark);
    height: var(--ios_status_bar_height);
    width: 100%;
    opacity: 0.45;
    position: absolute;
    top: 0;
    z-index: var(--z__below-modal);
  }
}
