cmp-version {
  bottom: 10px;
  display: block;
  font-size: var(--font-size__paragraph-tiny);
  position: absolute;
  right: 0;
  text-align: center;
  transform: translate3d(0, 0, 0);
  width: 100%;
}
